/* Reset */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    font-size: 1;
    font-size: 2.3vh;
}



/* Scrollbar Chrome */

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background-color: #666;

}

::-webkit-scrollbar-thumb {
    background-color: #0061ff;
    border-radius: 8px;
    border: 1px solid #666;
}

::-webkit-scrollbar-button {
    color: black;
    background-color: #666;
    /* border: 2px solid #0061ff; */
    width: 15px;
}

::-webkit-scrollbar-button:start {
    background-position: top;
    background-size: cover;
    background-image: url(https://cdn-icons-png.flaticon.com/512/143/143276.png);
}

::-webkit-scrollbar-button:end {
    background-position: top;
    background-size: cover;
    background-image: url(https://cdn-icons-png.flaticon.com/512/143/143275.png);
}



/* Common */

.flex {
    display: flex;
}


.flex-columns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.flex-center-left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.flex-icon {
    display: flex;
    flex-wrap: wrap;
}

.flex-columns-nospace {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 10vh;
}

.boxedS {
    margin: 0 auto;
    width: 1780px;
}

.boxedB {
    margin: 0 auto;
    width: 1526px;
}

.small-sec {
    padding: 2vh 0;
    width: 40%;
    min-height: 40vh;
}

.big-sec {
    position: relative;
    padding: 2vh 0;
    width: 60%;
    min-height: 40vh;
}

.equal-sec {
    padding: 2vh 0;
    width: 50%;
    min-height: 45vh;
}

section {
    margin: 5vh 0;
}


i {
    padding-right: 0.5vw;
}


h1 {
    font-size: 8vh;
}

h2 {
    font-size: 4.5vh;
    margin: 2.5vh 0;
}

h3 {
    font-size: 3vh;
}

h4 {
    font-size: 2.5vh;
}

.center {
    text-align: center;
}

button {
    color: white;
    background-color: #0061ff;
    border: none;
    padding: 1vh;
    margin-top: 2vh;
    margin: 3vh 0;
}


input {
    height: 1.5vh;
}

.bot-bord {
    padding: 1vh 0;
    border-bottom: 1px solid black;
}


/* Header */

header {
    background-color: #b4d0e7;
}

nav {
    background-color: white;
    padding: 0 1.5vw;
    min-height: 8vh;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
}

nav span {
    display: inline-block;
    padding: 0 1vw;
    line-height: 8vh;
}

nav span:hover {
    border-bottom: 1px solid black;
}

nav button {
    margin: 0;
}

.logo {
    height: 2.5vh;
    display: inline-block;
}

.big-title {
    width: 100%;
    min-height: 20vh;
    margin-top: 8vh;
}

.small-sec a {
    margin-top: 2vh;
}


header a {
    text-decoration: none;
    color: #222;
}




/* Main */

.titolo {
    margin: 6vh 0;
    text-align: center;
}

.spunta {
    margin: 5vh 0;
}

.jumbo {
    position: absolute;
    max-height: 110%;
    bottom: -5.7vh;
}

.margin-top {
    margin-top: 3vh;
}

.columns {
    width: 30%;
    min-height: 150vh;
    border: solid black 1px;
}

.columns button {
    width: 100%;
}

.bspace {
    margin-bottom: 5.7vh;
}

.fa-check {
    color: green;
}

.content-columns hr {
    width: 25%;
}

.content-columns {
    padding: 1.5vh;
    max-width: 35vw;
}

.content-columns h3 {
    padding: 2vh 0;
}

.content-columns span {
    margin: 2vh 0;
}

.content-columns div {
    margin: 2vh 0;
}

.content-columns hr {
    margin-bottom: 4vh;
}

.prezzo {
    display: inline-block;
    color: rgb(109, 109, 109);
}

.content-columns button {
    padding: 1.5vh 9%;

}

.partner {
    width: 100%;
}

#larger-butt {
    position: relative;
    top: -2.6vh;
    padding: 1.5vh 34%;
}

.content-columns h4 {
    margin: 2vh 0;
}

.columns-img {
    width: 100%;
}

.small-columns {
    width: 30%;
    min-height: 40vh;
    margin: 2vh 0;
}


.wide-columns {
    width: 100%;
    min-height: 30vh;
    border: solid black 1px;
    margin: 5vh 0;
}

.wide-columns button {
    position: relative;
    top: -7vh;
    padding: 1.5vh;
}

.equal-sec button:last-child {
    color: black;
    background-color: white;
    border: 1px black solid;
}

.equal-sec:last-of-type {
    padding-left: 2.5vw;
}

.square {
    display: flex;
    width: 100%;
    height: calc(((100vw / 6) * 2) / 2);
}

.bigsquare {
    padding: 4vh;
    width: calc((100% / 6) * 2);
    height: calc((100vw / 6) * 2);
    background-color: whitesmoke;
}

.container-square {
    width: calc(100% / 6);
    height: calc((100vw / 6) * 2);
}

.square-img {
    width: 60%;
    filter: invert(100%);
}

.big-square-img {
    width: 50%;
}

.bigsquare hr {
    width: 20%;
}

.bigsquare p {
    margin-top: 5vh;
    margin-bottom: 4vh;
}

.lightgreen {
    background-color: #a2d39b;
}

.darkred {
    background-color: #61082b;
}

.red {
    background-color: #d5001f;
}

.blue {
    background-color: #0d2481;
}

.yellow {
    background-color: #ffd830;
}

.lightblue {
    background-color: #0093ce;
}

.lightlightblue {
    background-color: #b4d0e7;
}

.white-button {
    background-color: white;
    color: black;
    border: 0;
    margin-bottom: 5vh;
    padding: 2vh;
}

.blue-bg {
    background-color: #b4d0e7;
}

.red-color {
    color: #61082b;
}


.no-top-margin {
    margin-top: 0;
}

.no-bottom-margin {
    margin-bottom: 0;
}

.deploy {
    padding-top: 3vh;
    width: 100%;
    border-top: solid black 1px;
    border-bottom: solid black 1px;
}

.deploy .flex-columns {
    margin-bottom: 3vh;
}

.display-none {
    display: none;
}

.deploy:hover .display-none {
    display: inline-block;
    padding: 3vh 0;
}

.deploy:hover i {
    transform: rotate(180deg);
}


/* Footer */

footer {
    background-color: rgb(26, 26, 26);
    color: white;
    padding-bottom: 3vh;
}

.bg-footer {
    background-color: rgb(26, 26, 26);
}

.sez-footer {
    margin-top: 5vh;
    width: calc(100% / 5);
    color: white;
    padding-bottom: 5vh;

}

footer h3 {
    margin: 3vh 0;
}

footer div {
    margin-top: 1.5vh;
    font-size: 2vh;
}

footer hr {
    width: 10%;
    color: white;
    margin-bottom: 2vh;
}

footer i,
footer span {
    display: inline-block;
    padding-right: 1vw;
}