/* Reset */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    font-size: 1;
    font-size: 2.3vh;
}

/* Common */

.flex {
    display: flex;
}


.flex-columns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.flex-columns-nospace {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 10vh;
}

.boxedS {
    margin: 0 auto;
    width: 70%;
}

.boxedB {
    margin: 0 auto;
    width: 60%;
}

.small-sec {
    padding: 2vh 0;
    width: 40%;
    min-height: 40vh;
    background-color: blanchedalmond;
}

.big-sec {
    padding: 2vh 0;
    width: 60%;
    min-height: 40vh;
    background-color: aqua;
}

.equal-sec {
    padding: 2vh 0;
    width: 50%;
    min-height: 45vh;
    background-color: aquamarine;
    border: 1px solid black;
}

section {
    margin: 5vh 0;
}



nav span {
    padding: 0 1vw;
}

h1 {
    font-size: 8vh;
}

h2 {
    font-size: 4.5vh;
    margin: 2.5vh 0;
}

h3 {
    font-size: 3vh;
}

h4 {
    font-size: 2.5vh;
}

.center {
    text-align: center;
}

button {
    color: white;
    background-color: #0061ff;
    border: none;
    padding: 1vh;
    margin-top: 2vh;
    margin: 3vh 0;
}

p {}

input {
    height: 1.5vh;
}

.bot-bord {
    padding: 1vh 0;
    border-bottom: 1px solid black;
}

/* Header */

header {
    background-color: #b4d0e7;
}

nav {
    min-height: 12vh;
    width: 100%;
    background-color: bisque;
    position: fixed;
    left: 0;
    top: 0;
}

.titolone {
    width: 100%;
    min-height: 20vh;
    margin-top: 12vh;
    background-color: lightblue;
}

.small-sec a {
    margin-top: 2vh;
}


header a {
    text-decoration: none;
    color: #222;
}




/* Main */

.titolo {
    margin: 5vh 0;
    text-align: center;
}

.spunta {
    margin: 5vh 0;
}

.columns {
    width: 30%;
    min-height: 125vh;
    border: solid black 1px;
}

.content-columns {
    padding: 1.5vh;
    max-width: 35vw;
}

.content-columns h3 {
    padding: 2vh 0;
}

.content-columns span {
    margin: 2vh 0;
}

.content-columns div {
    margin: 2vh 0;
}

.content-columns hr {
    margin-bottom: 4vh;
}

.prezzo {
    display: inline-block;
    color: rgb(109, 109, 109);
}

.content-columns button {
    padding: 1.5vh 9%;
}

#largo {
    padding: 1.5vh 34%;
}

.content-columns h4 {
    margin: 2vh 0;
}

.small-columns {
    width: 30%;
    min-height: 40vh;
    border: solid black 1px;
    margin: 2vh 0;
}

.wide-columns {
    width: 100%;
    min-height: 30vh;
    border: solid black 1px;
    margin: 5vh 0;
}

.equal-sec button:last-child {
    color: black;
    background-color: white;
    border: 1px black solid;
}

.square {
    display: block;
    width: 100%;
    height: calc(((100vw / 6) * 2) / 2);
    border: solid black 1px;
    background-color: rgb(61, 82, 88);
}

.bigsquare {
    width: calc((100% / 6) * 2);
    height: calc((100vw / 6) * 2);
    border: solid black 1px;
    background-color: rgb(0, 115, 153);
}

.container-square {
    width: calc(100% / 6);
    height: calc((100vw / 6) * 2);
}

.blue-bg {
    background-color: #b4d0e7;
}

.deploy {
    padding: 3vh 0;
    width: 100%;
    border-top: solid black 1px;
    border-bottom: solid black 1px;
}

.display-none {
    display: none;
}

.deploy:hover .display-none {
    display: inline;
    padding: 5vh 0;
}

.deploy:hover i {
    transform: rotate(180deg);
}

/* Footer */

.bg-footer {
    background-color: rgb(26, 26, 26);
}

.sez-footer {
    margin-top: 5vh;
    width: calc(100% / 5);
    min-height: 50vh;
    border: 1px black solid;
    color: white;

}

footer h3 {
    margin: 3vh 0;
}

footer div {
    margin: 1.5vh 0;
    font-size: 2vh;
}